 /* Author-Bikash Shiwakoti - 000891600 - Wednesday-14 June  */
h1{
    height: 1.5em;
}

.nav-item{
    border: 1px solid black;
    margin: 2px;
    border-radius: 10px;
    display: block;
    background-color: red;
}

.accordion h3{
    
    color: rgb(224, 31, 121);
    
}

input[type="number"]{
    
    background-color: aqua;
}

 textarea{
    
    background-color: rgba(36, 198, 149, 0.308);
}

footer{
    margin-top: 5px;
    text-align: center;
    border-top: 1px solid black;
}